@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.quiz-card{
  background-image: ("/public/images/bgImageGalaxy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid rgb(7, 20, 41);
  padding: 1.1rem;
  border-radius: 13px;
  box-shadow: 0 0 30px rgb(20, 206, 23);

}

body {
  background-color: rgb(25, 233, 10);
  background-image: url("/public/images/bgImageGalaxy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.quiz-card h2 {
 font-size: clamp(2.2rem, 4vw, 2.9rem);
 text-align: center;
 font-family: 'Audiowide', cursive;
 color: rgb(196, 114, 244);
 margin-top: 0;
}

.quiz-card h2 span {
  font-size: calc(1.8rem + 1vw);
  
}
.quiz-card > img {
  width: 90%;
  max-width: 550px;  
  aspect-ratio: 16/9;
  margin: 0 auto;
  display: flex;
  object-fit: cover;
  border-radius: 10px;
 
}

.quiz-card ul {
  margin: 0;
  padding: 10px;
}

.quiz-card li {
  list-style: none;
  font-size: 100%;
  margin-bottom:5px;
  padding: 0.7em;
  transition: font-size 0.5s ease-in-out;
  background-color:rgb(52, 173, 254);
  border-radius: 5px;
  border: 2px solid #09094c4b;
  cursor:pointer;
  font-family: 'Audiowide', cursive;
}

.quiz-card li:hover {
  font-size: 120%;
  background-color:rgb(131, 87, 254);
  color:white;
  transition: font-size 0.3s ease-in-out;
}

.nav-menu {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 10px;
}

.nav-menu-link {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
}

.nav-menu-link:hover {
  color: #000;
}




/* 

@media (min-width: 768px) { .quiz-card > img {
  max-width: 80%;  
  border-radius: 5px;
  aspect-ratio: 16/9;
  display: flex;
  margin: 0 auto;
  padding: 15px; }} */
/* 
@media (min-width: 992px) { .quiz-card > img {
  max-width: 80%;  
  border-radius: 5px;
  aspect-ratio: 16/9;
  display: flex;
  margin: 0 auto;
  padding: 15px;
  transition: 100ms ease-in

} 

.quiz-card{
width: 50%;
margin : 0 auto;
transition: 100ms ease-in}}
*/

.number{
  color:rgb(52, 173, 254);
  font-size: 22px;
  display:flex;
  justify-content: flex-end ;
  padding-right: 25px;
  font-weight: bold;
  font-family: 'Audiowide', cursive;
}
